@font-face {
  font-family: "SF Display";
  font-weight: 600;
  src: url("https://sf.abarba.me/SF-UI-Display-Semibold.otf");
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  text-align: center;
  padding: 25px;

}
footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:silver;
  font-size: 20px;
  text-align: center;
  font-family: "SF Display";
}
header {
  padding: 25px;
  background-color: black;
  color: ghostwhite;
  font-family: "SF Display";
}
.weather-icon img {
  width: 64px;
  height: 64px;
}
